/* Impostazioni di base */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

/* Footer */
footer {
    height: 10%;
    background-color: #27292b; /* Colore grigio chiaro */
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    color: rgba(255, 255, 255, 0.747);
}
footer div {
    margin : 5px;
}

footer a {
    color: #007bff;
}

.logo {
    font-size: 37px; /* Dimensione del testo */
    font-weight: bold; /* Grassetto */
}

.logo a {
    text-decoration: none;
    color : black;
}
.logo a:hover {
    color: #007bff; /* Cambia colore al passaggio del mouse */
    transition: 0.3s;
}

/* Contenitore */
.contenitore {
    height: 90%;
    background-color: #ffffff; /* Colore bianco */
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centra il contenuto verticalmente */
    align-items: center; /* Centra il contenuto orizzontalmente */
    background-image: url('/progetto/webapp/background.png'); 
}

/* Rettangolo Centrale */
.rettangolo-centrale {
    width: 50%;
    height: 50%;
    background-color: #f8f9fa; /* Colore grigio chiaro */
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centra il contenuto verticalmente */
    align-items: center; /* Centra il contenuto orizzontalmente */
    border-radius: 15px; /* Bordi arrotondati */
    padding: 20px; /* Spazio interno */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Ombra leggera */
    z-index: 1; /* Imposta l'indice di pila sopra l'immagine di sfondo */
    opacity: 0.9;
}

.rettangolo-centrale .informazioni {
    margin-bottom: 30px;
}
.contenitore .form {
    display: flex;
    justify-content: center;
}

/* Stile dei campi di input */
/* Stile dei campi di input */
.form-group {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-group input {
    width: 240px; /* Imposta la larghezza automatica */
    max-width: 100%; /* Limita la larghezza massima all'interno del container */
    padding: 5px; /* Aggiungi padding per spaziatura */
    margin-bottom: 5px; /* Aggiungi margine inferiore per separazione */
}


/* Stile del pulsante di invio */
.btn-primary {
    background-color: #007bff; /* Colore blu */
    color: #ffffff; /* Colore testo bianco */
    border: none; /* Rimuovi il bordo */
    border-radius: 5px; /* Bordi arrotondati */
    padding: 10px 20px; /* Spazio interno */
    cursor: pointer; /* Cambia il cursore al passaggio */
    transition: background-color 0.3s ease; /* Effetto di transizione */
}

.btn-primary:hover {
    background-color: #0056b3; /* Cambia colore al passaggio del mouse */
}
