html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

footer {
    height: 10%;
    background-color: #27292b; /* Colore grigio chiaro */
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    color: rgba(255, 255, 255, 0.747);
}

footer div {
    margin : 5px;
}

footer a {
    color: #007bff;
}


button {
    padding: 10px 20px;
    border-radius: 10px;
    background-color: #007bff;
    color: #ffffff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.sfondo {
    height: 90%;
    display: flex;
    background-image: url('/background.png'); 
    justify-content: center;
    align-items: center;
}

.contenitore {
    background-color: #ffffff; 
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    padding: 30px;
    height: 40%;
    width: 40%;
}

.contenitore .titolo {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 0.2;
    margin-top: 40px;
}

.contenitore .tabella {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo {
    font-size: 37px; /* Dimensione del testo */
    font-weight: bold; /* Grassetto */
    display: flex;
    justify-content: center;
}

.logo a {
    text-decoration: none;
    color : black;
}
.logo a:hover {
    color: #007bff; /* Cambia colore al passaggio del mouse */
    transition: 0.3s;
}

.modifica {
    display: flex;
    justify-content: center;
    flex: 0.7;
    text-align: center;
    align-items: center;
}

.form-group input {
    width: 100%; /* Imposta la larghezza del 100% all'interno del form */
    padding: 10px; /* Aumenta il padding per spaziatura */
    margin-bottom: 10px; /* Aumenta il margine inferiore per separazione */
    font-size: 16px; /* Modifica la dimensione del testo per renderlo più grande */
}

.form-group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
