html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

footer {
    height: 10%;
    background-color: #27292b; /* Colore grigio chiaro */
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    color: rgba(255, 255, 255, 0.747);
}

footer div {
    margin : 5px;
}

footer a {
    color: #007bff;
}

.titolo {
    flex: 0.5;
}
table {
    table-layout: fixed;
    width: auto; 
    border-collapse: collapse; /* Combina i bordi delle celle */
    border: 1px solid #000; /* Stile e colore del bordo esterno della tabella */
    background-color: #ffffff;
    display: flex;
    flex: 0.2;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
}

table td, table th {
    padding: 5px; /* Aggiungi il padding desiderato */
    border: 1px solid #000; /* Stile e colore del bordo interno delle celle */
}

table tr:first-child th {
    border-top: 1px solid #000; /* Stile e colore del bordo superiore delle celle dell'header */
}

/* Stile per le righe dispari */
tr:nth-child(odd) {
    background-color: #007bff; /* Colore per le righe dispari */
    color: #ffffff;
}

/* Stile per le righe pari */
tr:nth-child(even) {
    background-color: #ffffff; /* Colore per le righe pari */
}

table tr {
    text-align: center;
    width: auto; 
}
button {
    padding: 10px 20px;
    border-radius: 10px;
    background-color: #007bff;
    color: #ffffff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3; /* Cambia colore al passaggio del mouse */
}


.sfondo {
    height: 90%;
    display: flex;
    background-image: url('/background.png'); 
    justify-content: center;
    align-items: center;
}

.contenitore {
    background-color: #ffffff; 
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    padding: 30px;
    height: fit-content;
    width: fit-content;
    min-height: 70%;
    min-width: 50%;
}

.contenitore .titolo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.contenitore .tabella {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
}

.logo {
    font-size: 37px; /* Dimensione del testo */
    font-weight: bold; /* Grassetto */
    display: flex;
    justify-content: center;
}

.logo a {
    text-decoration: none;
    color : black;
}
.logo a:hover {
    color: #007bff; /* Cambia colore al passaggio del mouse */
    transition: 0.3s;
}

